.error {
  color: red;
  font-size: 12px;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiOutlinedInput-adornedStart.MuiOutlinedInput-input:-webkit-autofill, .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiOutlinedInput-adornedStart.MuiOutlinedInput-input:-webkit-autofill:hover,.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiOutlinedInput-adornedStart.MuiOutlinedInput-input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0 1000px white inset !important; 
  -webkit-text-fill-color: inherit;
} */
