.error {
  color: red;
  font-size: 12px;
}
.success {
  color: green;
  font-size: 12px;
}

.skeleton-radius {
  border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 3000000s 0s,
    color 6000000s 0s;
}

input[data-autocompleted] {
  background-color: transparent;
}
